# IntelliJ IDEA files
.idea/
*.iml
/src/main/resources/

# Compiled output
/target/
/out/
*.class
.idea
.vscode
docker-compose.yml
/chatapp-client/activity-chart
# Logs
*.log

# Dependency directories
/lib/
/libs/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Window
/build/

# Spring Boot configuration files
**/application.properties
#application.properties
application.yml
application-*.properties
application-*.yml